
<h3>スケジュール一覧<h3>

<% if flash[:notice] %>
<p class ="notice">
<%= flash[:notice] %>
</p>
<% end %>

<table>
    <thead>
    <tr>
        <th>id</th>
        <th>タイトル</th>
        <th>開始日</th>
        <th>終了日</th>
        <th>終日</th>
        <th>スケジュールメモ</th>
        <th>スケジュール更新日時</th>
        <th>　　</th>
        <th>   </th>
        <th>   </th>
    </tr>
    </thead>
<tbody>
<% @users.each do |user|%>
    <tr>
        <td><%=user.id %></td>
        <td><%=user.title %></td>
        <td><%=user.star_daydate%></td>
        <td><%=user.fin_day%></td>
        <td><%=user.all_day %></td>
        <td><%=user.memo %></td>
        <td><%=user.updated_at.to_s(:datetime_jp) %></td>
        <td><%= link_to "確認", user %></td>
        <td><%= link_to "編集", [:edit, user] %></td>
        <td><%= link_to "削除", user, method: :delete, data: { confirm: "本当に削除しますか？" } %></td>
    </tr>
<% end %>
</tbody>
</table>

<p><%=link_to "スケジュール新規登録",:new_user%></p>

