<h3>スケジュール新規作成<h3>

<%= render "shared/error", obj: @user %>

<%=form_for @user do |f| %>
    
<table>
    <tr>
    <th><%=f.label :title,"タイトル"%></th>
    <td><%=f.text_field :title %></td>
    </tr>

    <tr>
    <th><%=f.label :star_daydate,"開始日"%></th>
    <td><%=f.date_select :star_daydate%></td>
    </tr>

    <tr>
    <th><%=f.label :fin_day,"終了日"%></th>
    <td><%=f.date_select :fin_day %></td>
    </tr>

    <tr>
    <th><%=f.label :all_day,"終日"%></th>
    <td><%=f.check_box:all_day,{},checked_value = "○",unchecked_value ="" %></td>
    </tr>

    <tr>
    <th><%=f.label :memo,"スケジュール"%></th>
    <td><%=f.text_area :memo%></td>
    </tr>
</table>

<div>
    <ul>
    <li><%=f.submit "登録する"%></li>
    <li><%=link_to "スケジュール一覧に戻る",:users %></li>
    </ul>
</div>
<% end %>